.tabs {
}

[role="tablist"] {
  min-width: 100%;
  display: flex;
  gap: var(--space-l);
  font-size: var(--text-m);
}

[role="tab"],
[role="tab"]:focus,
[role="tab"]:hover {
  cursor: pointer;

  display: inline-block;
  position: relative;
  z-index: 2;
  top: 2px;
  margin: 0;
  margin-top: 4px;
  padding: 3px 3px 4px 0px;
  border-width: 0px;
  border-bottom: 4px solid transparent;
  background-color: transparent;

  font-weight: bold;
  max-width: 22%;
  overflow: hidden;
  text-align: left;
  cursor: pointer;
}

[role="tab"][aria-selected="true"] {
  border-bottom: 2px solid var(--c-accent);
}

[role="tab"][aria-selected="false"] {
  border-bottom:  4px solid transparent;
  color: var(--c-bodyDimmed);
}


[role="tab"][aria-selected="false"]:hover,
[role="tab"][aria-selected="false"]:focus,
[role="tab"][aria-selected="false"]:active {
  background-color: var(--c-accent);
}

[role="tabpanel"] {
  border: none;
  width: 100%;
  overflow: auto;
}

[role="tabpanel"].is-hidden {
  display: none;
}
